<section class="post">
    <div class="title">
        <a class="title-link" href= "/post/{{id}}">{{title}}</a>
        <span>({{text}})</span>
    </div>
    <div class="meta">
        by {{user.username}} on {{format_date created_at}}
        <a class="comment-link" href="/post/{{id}}">
            {{comments.length}} {{ format_plural "comment" comments.length}}
        </a>
    </div>
</section>